<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes - Free Responsive Html5 Templates">
    <meta name="author" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>NXTravel | 目的地</title>

	<!-- <link rel="stylesheet" href="../public/css/plan.css"  type="text/css"> -->

	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"  type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="../public/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../public/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="../public/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

	<link rel="import" href="/views/des.html">

	<style>
		header {
			background: url(../public/images/banner3.jpg) no-repeat scroll center center ;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;height: 750px;
		}
	</style>
</head>
<body>

	<header>

	{{ include './head.html'}}

	</header>
 	
	<des-card></des-card>


	<footer>

	{{ include './foot.html'}}

	<footer>

	<!-- jQuery -->
		
	<script type="text/javascript" src="../public/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="../public/js/agency.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../public/js/jquery.easing.min.js"></script>
	<script src="../public/js/classie.js"></script>
	<script src="../public/js/cbpAnimatedHeader.js"></script>
	
	<!-- carousel -->
	<script src="../public/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
        itemsDesktopSmall : [979,2],
		navigation: false,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
      });
    });
    </script>

</body>
</html>