<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes - Free Responsive Html5 Templates">
    <meta name="author" content="#">

	<title>NXTravel | 旅行攻略</title>

	<!-- <link rel="stylesheet" href="../public/css/plan.css"  type="text/css"> -->

	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"  type="text/css">
	
	<!-- Owl Carousel Assets -->
    <link href="../public/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../public/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="../public/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<style>
		header {
			background: url(../public/images/banner1.jpg) no-repeat scroll center center ;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;height: 750px;
		}
	</style>
</head>
<body>

	<header>

	{{ include './head.html'}}

	<div class="header-text hidden-xs">
		<div class="col-md-12 text-center">
			<h1>NX<span style="color: #FFDE00;font-size: 90px;">.</span> Travel<span style="color: #FFDE00;font-size: 90px;">.</span>Strategy</h1>
			<hr>
			<p>与你并肩，去广阔的沙漠，一起去看一看千年不倒的胡杨，和那搏击长空的苍鹰；一起去听一听那丝绸路上的驼铃，还有那历史遗落的风音。</p>
		</div>
	</div><!-- /header-text -->

	</header>
	


		<section class="box-content box-5 box-style-1" id="lastest_new">
				<div class="container">
					<div class="row heading">
						 <div class="col-lg-12">	
		                    <h2>玩乐</h2>
		                    <hr class="line02">
	                    	<div class="intro">libertinism</div>
		                </div>
					</div>
					<div class="row">
					{{ each play }}
						<div class="col-md-4">
							<div class="box-item">
								<img src={{ $value.src }} class="img-responsive"/>
								<div class="content">
									<h3>{{ $value.name }}</h3>
									<p>{{ $value.scene }}</p>
									<span>{{ $value.time }}</span>
								</div>
							</div>
						</div>
					{{ /each }}
					</div>
				</div>
			</section>

			<section class="box-content box-5 box-style-1" id="lastest_new">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">	
	                    <h2>遗址</h2>
	                    <hr class="line02">
                    	<div class="intro">Historic Site</div>
	                </div>
				</div>
				<div class="row">
				{{ each ruins }}
					<div class="col-md-4">
						<div class="box-item">
							<img src={{ $value.src }} class="img-responsive"/>
							<div class="content">
								<h3>{{ $value.name }}</h3>
								<p>{{ $value.history }}</p>
								<span>{{ $value.time }}</span>
							</div>
						</div>
					</div>
				{{ /each }}
				</div>
			</div>
		</section>

		<section class="box-content box-5 box-style-1" id="lastest_new">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">	
	                    <h2>美食</h2>
	                    <hr class="line02">
                    	<div class="intro">Top Ten Scenic Spots</div>
	                </div>
				</div>
				<div class="row">
				{{ each catewine }}
					<div class="col-md-4">
						<div class="box-item">
							<img src={{ $value.src }} class="img-responsive"/>
							<div class="content">
								<h3>{{ $value.name }}</h3>
								<p>{{ $value.culture}}</p>
								<span>{{ $value.time }}</span>
							</div>
						</div>					
					</div>
				{{ /each }}	
				</div>
			</div>
		</section>



	<footer>

	{{ include './foot.html'}}

	<footer>

	<!-- jQuery -->
	<script type="text/javascript" src="../public/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="../public/js/agency.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../public/js/jquery.easing.min.js"></script>
	<script src="../public/js/classie.js"></script>
	<script src="../public/js/cbpAnimatedHeader.js"></script>
	
	<!-- carousel -->
	<script src="../public/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
        itemsDesktopSmall : [979,2],
		navigation: false,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
      });
    });
    </script>

</body>
</html>